<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.clix.clixoerwebsite.Listeners"/>
</listeners>
<!--<test thread-count="5" name="CucumberTest">
		<classes>
			<class name="cucumberOptions.TestRunner" />
		</classes>
	</test>  -->
<!--  <test thread-count="5" name="TestHomepageenglishinenglish">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckEnglishCheckboxContentinEnglish" />
		</classes>
	</test>
	 <test thread-count="5" name="TestHomepageenglishinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckEnglishCheckboxContentinHindi" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepageenglishintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckEnglishCheckboxContentinTelegu" />
		</classes>
	</test>
	
<test thread-count="5" name="TestHomepagemathsinenglish">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinEnglish" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepagemathsinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinHindi" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepagemathsintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinTelegu" />
		</classes>
	</test>
<test thread-count="5" name="TestHomepagescienceinenglish">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckScienceCheckboxContentinEnglish" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepagescienceinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckScienceCheckboxContentinHindi" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepagescienceintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckScienceCheckboxContentinTelegu" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepageictinenglish">
		<classes>
			<class name="com.clix.clixoerwebsite.Checki2cCheckboxContentinEnglish" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepageictinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.Checki2cCheckboxContentinHindi" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepageictintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.Checki2cCheckboxContentinTelegu" />
		</classes>
	</test>
	 <test thread-count="5" name="Test Sample">
		<classes>
			<class name="com.clix.clixoerwebsite.AppTest" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepagemathsinEnglish">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinEnglish" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepagemathsinHindi">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinHindi" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepagemathsinTelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinTelegu" />
		</classes>
	</test>
	<test thread-count="5" name="TestHomepageLinks">
		<classes>
			<class name="com.clix.clixoerwebsite.HomePageLinks" />
		</classes>
	</test> 
	<test thread-count="5" name="Test About">
		<classes>
			<class name="com.clix.clixoerwebsite.AboutPageTest" />
		</classes>
	</test> 
	<test thread-count="5" name="Test Contactus">
		<classes>
			<class name="com.clix.clixoerwebsite.ValidateContactus" />
		</classes>
	</test>-->
	<!-- <test thread-count="5" name="Test HomePageModulesCheck">
		<classes>
			<class name="com.clix.clixoerwebsite.HomePageModulesCheck" />
		</classes>
	</test> 
	-->
<!-- 	<test thread-count="5" name="Test HomePageModulesCheck">
		<classes>
			<class name="com.clix.clixoerwebsite.HomePageModulesCheck" />
		</classes>
	</test>
	 -->
	 <test thread-count="5" name="Test CheckPaginationContent">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckPaginationContent" />
		</classes>
	</test>
 <!-- Test -->
</suite> <!-- Suite -->
