<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.clix.clixoerwebsite.Listeners"/>
</listeners>

   
<test thread-count="5" name="CucumberTest">
		<classes>
			<class name="cucumberOptions.TestRunner" />
		</classes>
</test>

 <test thread-count="5" name="TestHomepageenglishinenglish">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckEnglishCheckboxContentinEnglish" />
		</classes>
</test>

 <test thread-count="5" name="TestHomepageenglishinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckEnglishCheckboxContentinHindi" />
		</classes>
</test> 


<test thread-count="5" name="TestHomepageenglishintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckEnglishCheckboxContentinTelegu" />
		</classes>
</test>

	
<test thread-count="5" name="TestHomepagemathsinenglish">
	<classes>
		<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinEnglish" />
	</classes>
</test>

	
<test thread-count="5" name="TestHomepagemathsinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinHindi" />
		</classes>
</test> 

	
<test thread-count="5" name="TestHomepagemathsintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckMathsCheckboxContentinTelegu" />
		</classes>
</test>

	
<test thread-count="5" name="TestHomepagescienceinenglish">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckScienceCheckboxContentinEnglish" />
		</classes>
</test>

	
<test thread-count="5" name="TestHomepagescienceinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckScienceCheckboxContentinHindi" />
		</classes>
</test>


<test thread-count="5" name="TestHomepagescienceintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckScienceCheckboxContentinTelegu" />
		</classes>
</test>
	

 <test thread-count="5" name="TestHomepageictinenglish">
		<classes>
			<class name="com.clix.clixoerwebsite.Checki2cCheckboxContentinEnglish" />
		</classes>
	</test>

 <test thread-count="5" name="TestHomepageictinhindi">
		<classes>
			<class name="com.clix.clixoerwebsite.Checki2cCheckboxContentinHindi" />
		</classes>
	</test>
 
 <test thread-count="5" name="TestHomepageictintelegu">
		<classes>
			<class name="com.clix.clixoerwebsite.Checki2cCheckboxContentinTelegu" />
		</classes>
	</test> 
	

 <test thread-count="5" name="TestHomepageLinks">
		<classes>
			<class name="com.clix.clixoerwebsite.HomePageLinks" />
		</classes>
	</test> 
	
	
 	
 <!-- <test thread-count="5" name="Test About">
		<classes>
			<class name="com.clix.clixoerwebsite.AboutPageTest" />
		</classes>
</test>
	

<test thread-count="5" name="Test Contactus">
		<classes>
			<class name="com.clix.clixoerwebsite.ValidateContactus" />
		</classes>
</test> -->
 

 <test thread-count="5" name="Test HomePageModulesCheck">
		<classes>
			<class name="com.clix.clixoerwebsite.HomePageModulesCheck" />
		</classes>
	</test>


  <test thread-count="5" name="Test CheckPaginationContent">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckPaginationContent" />
		</classes>
	</test>  
	
 <test thread-count="5" name="Test Interactives">
		<classes>
			<class name="com.clix.clixoerwebsite.CheckInteractives" />
		</classes>
	</test>
	
 <test thread-count="5" name="Test Handbooks">
		<classes>
			<class name="com.clix.clixoerwebsite.HandbooksValidation" />
		</classes>
	</test>
 	
	
 <test thread-count="5" name="Test DomainEnglish">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.DomainEnglishValidation"></class>
	  </classes>
  </test>


 <test thread-count="5" name="Test DomainMath">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.DomainMathValidation"></class>
	  </classes>
	</test> 

 
 <test thread-count="5" name="Test DomainScience">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.DomainScienceValidation"></class>
	  </classes>
	</test>

 <test thread-count="5" name="Test DomainModulesPagination">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.DomainModulesPagination"></class>
	  </classes>
	</test>

 
 <test thread-count="5" name="Test CoolOerEnglishResourceFilter">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.CoolOerEnglishResourceFilter"></class>
	  </classes>
	</test>

 <test thread-count="5" name="Test CoolOerHindiResourceFilter">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.CoolOerHindiResourceFilter"></class>
	  </classes>
	</test>
	
	
 <test thread-count="5" name="Test CoolOerTeluguResourceFilter">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.CoolOerTeluguResourceFilter"></class>
	  </classes>
	</test>

 <test thread-count="5" name="Test CoolOerTamilResourceFilter">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.CoolOerTamilResourceFilter"></class>
	  </classes>
	</test>
	
<test thread-count="5" name="Test CoolOerPunjabiResourceFilter">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.CoolOerPunjabiResourceFilter"></class>
	  </classes>
	</test> 

<test thread-count="5" name="Test CoolOerMultipleSubjectFilter">
    <classes>
         <class name="com.clix.clixoerwebsite.CoolOerMultipleSubjectFilter"/>
    </classes> 
 </test>

 <test thread-count="5" name="Test CoolOerArtFilter">
    <classes>
         <class name="com.clix.clixoerwebsite.CoolOerArtFilter"/>
    </classes> 
 </test> 	 

<test thread-count="5" name="Test CoolOerScienceFilter">
    <classes>
         <class name="com.clix.clixoerwebsite.CoolOerScienceFilter"/>
    </classes> 
 </test>

 <test thread-count="5" name="Test CoolOerLanguageFilter">
    <classes>
         <class name="com.clix.clixoerwebsite.CoolOerLanguageFilter"/>
    </classes> 
 </test> 

  <test thread-count="5" name="Test CoolOerMathematicsFilter">
    <classes>
         <class name="com.clix.clixoerwebsite.CoolOerMathematicsFilter"/>
    </classes> 
 </test>
  
  <test thread-count="5" name="Test FooterAboutLinkValidation">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.FooterAboutLinkValidation"></class>
	  </classes>
	</test>  

 <test thread-count="5" name="Test FooterCreditLinkValidation">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.FooterCreditLinkValidation"></class>
	  </classes> 
	</test>

  <test thread-count="5" name="Test FooterTermsOfServiceLinkValidation">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.FooterTermsOfServiceLinkValidation"></class>
	  </classes>
	</test>  
	
	
 <test thread-count="5" name="Test FooterPrivacyPolicyLinkValidation">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.FooterPrivacyPolicyLinkValidation"></class>
	  </classes>
	</test>
 
 <test thread-count="5" name="Test FooterGitLinkValidation">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.FooterGitLinkValidation"></class>
	  </classes>
	</test>


 <test thread-count="5" name="Test FooterContactUsLinkValidation">
	  <classes>
	       <class name = "com.clix.clixoerwebsite.FooterContactUsLinkValidation"></class>
	  </classes>
	</test>
	
<!-- <test thread-count="5" name="Test CoolOerContactForm">
     <classes>
           <class name="com.clix.clixoerwebsite.CoolOerContactForm"/>
     </classes>
</test> 
 
 <test thread-count="5" name="Test DomainContactForm">
     <classes>
           <class name="com.clix.clixoerwebsite.DomainContactForm"/>
     </classes>
</test> -->

 <!-- Test -->
</suite> <!-- Suite -->
